/* Global */

:root {
  /* Color */
  /* highlite #FFEBA8 */
  /* main #0E0C22 */
  /* light main #444444 */
  /* dark main #222 */
  --color-text-white: #c9d1d9;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-main: #0a0e1a;
  --color-light-main: #0d1117;
  --color-dark-main: #06090f;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-yellow: #ffeba8;
  --color-black: #222222;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 250ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  letter-spacing: -0.25px;
}
body {
  color: var(--color-black);
  margin: 0;
  background-color: var(--color-dark-main);
}

a {
  text-decoration: none;
  color: var(--color-text-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-light-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-text-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-text-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-text-white);
  word-break: keep-all;
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-text-white);
  padding: 0 16px;
  transition: all var(--animation-duration) ease-in;
}
#navbar.navbar--bg {
  background-color: var(--color-main);
}
.navbar__logo a {
  font-size: var(--font-regular);
  color: var(--color-light-white);
}
.navbar__logo img {
  width: 14px;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
  transition: all var(--animation-duration) ease-in;
}
.navbar__menu__item:hover,
.navbar__menu__item.active {
  animation: neon 1.5s linear infinite;
  color: var(--color-yellow);
  border-color: var(--color-dark-white);
  text-shadow: 1px 1px 1px #bd9f3f, 0 0 10px;
}
/* Toggle btn */
.navbar__toggle-btn {
  position: absolute;
  top: 19px;
  right: 32px;
  font-size: 24px;
  color: var(--color-text-white);
  display: none;
  width: 24px;
  height: 19px;
  padding: 0;
}
.navbar__toggle-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-text-white);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
/* Home */
#home {
  background: url(images/home-background-black.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 100px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 45px;
}
.home__title,
.home__description {
  color: var(--color-text-white);
}
.home__btn {
  color: var(--color-text-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-text-white);
  border-radius: var(--size-border-radius);
}
@keyframes chevron {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(1px);
  }
}
.home__btn i {
  font-size: var(--font-micro);
  margin-left: 5px;
  animation: chevron 0.5s alternate infinite;
}
.home__btn:hover {
  border-color: var(--color-yellow);
}

/* Section Common */
.section {
  padding: 80px 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about h1 {
  margin-bottom: 40px;
}
.about__container {
  position: relative;
  background-color: var(--color-light-main);
  overflow: hidden;
  height: 550px;
  border: 1px solid var(--color-dark-grey);
  border-radius: 8px;
}
.about__description {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  display: flex;
  max-width: 400px;
  padding: 10px 0 10px 50px;
  text-align: left;
  color: var(--color-text-white);
  position: relative;
  background-color: var(--color-dark-main);
}
.about__description ul {
  margin-right: 40px;
}
.about__description li {
  margin: 16px 0;
}
.description__contents {
  font-size: var(--font-micro);
  line-height: 24px;
}
.description__contents li {
  margin-top: 16.5px;
}
.about__avatar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(images/about-avatar.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% 100%;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major:hover .major__title {
  text-shadow: 0 0 0.4vw #e4c86d, 0 0 0.5vw #e4c86d, 0 0 0.5vw #e4c86d,
    0 0 1.5vw #e4c86d, 0 0 0.1vw #e4c86d, 3px 3px 3px #806914;
  color: var(--color-yellow);
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-text-white);
  border: 1px solid var(--color-dark-white);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major:hover .major__icon i {
  transform: translateX(-1px) rotateY(360deg);
}
.major:hover .html {
  color: rgb(219, 48, 48);
}
.major:hover .css {
  color: rgb(58, 138, 241);
}
.major:hover .js {
  color: rgb(255, 227, 71);
}
.major__title,
.major__description {
  color: var(--color-text-white);
  transition: all 150ms ease-in;
}
.major__description {
  font-size: var(--font-small);
}
.about__education {
  display: flex;
}
.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education__logo {
  height: 40px;
  margin-bottom: 10px;
}
.education__description {
  margin: 0 16px;
  padding: 5px 15px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}
.education__name {
  font-weight: var(--weight-bold);
}
.education__name,
.education__period {
  text-align: left;
  color: var(--color-text-white);
}
.education__name {
  font-size: var(--font-small);
}
.education__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-light-main);
}
#skills strong {
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  background: var(--color-yellow);
}
.skills__container p {
  font-size: var(--font-small);
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 50px;
}
.skillset__title {
  color: var(--color-text-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill {
  margin-bottom: 20px;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  height: 3px;
  background-color: var(--color-yellow);
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.tools,
.etc {
  padding: 20px;
}

/* Works */
.works__categories {
  margin: 40px;
}
.category__btn {
  position: relative;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  width: 200px;
  transition: all var(--animation-duration) ease-in;
  background-color: var(--color-main);
  color: var(--color-text-white);
}
.category__btn.selected,
.category__btn:hover {
  background-color: #30363d;
  border-color: #fff;
  color: #fff;
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-dark-grey);
  font-weight: var(--weight-bold);
  font-size: var(--font-micro);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.1);
  right: 7%;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.works__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  transition: all var(--animation-duration) ease-out;
}
.works__projects.animate-out {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transform: translateY(10px) scale(0.9);
  border-radius: 20px;
  transition: all var(--animation-duration) ease-in-out;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px) scale(1);
  border-radius: 0;
}
.project__description h3 {
  color: var(--color-yellow);
}
.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-main);
  overflow: hidden;
}
.testimonials {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  margin-top: 75px;
  gap: 10px;
  background-color: var(--color-dark-main);
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 15px 30px 20px;
  border: 5px solid var(--color-text-white);
  max-height: 515px;
  max-width: 30%;
  overflow-y: scroll;
  background-color: var(--color-light-main);
}
.testimonial::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(124, 121, 121, 0.4);
  border-radius: 6px;
}
.testimonial:hover::-webkit-scrollbar-thumb {
  background: rgba(124, 121, 121, 0.8);
}
.testimonial__avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 5px 0;
}
.testimonial p {
  color: var(--color-text-white);
  font-size: var(--font-small);
  text-align: left;
}
.summary {
  padding: 0 5px;
  background-color: var(--color-yellow);
}
.summary p {
  font-weight: var(--weight-semi-bold);
  color: var(--color-main);
}
.testimonial a {
  color: var(--color-yellow);
}

/* Contact */
#contact {
  background-color: var(--color-main);
}
.contact__title,
.contact__email,
.contact__right {
  color: var(--color-text-white);
}
.contact__title {
  margin: 32px 0;
  text-shadow: 0 0 2vw var(--color-yellow);
  animation: neon 1.5s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 0.4vw #e4c86d, 0 0 0.5vw #e4c86d, 0 0 0.5vw #e4c86d,
      0 0 1.5vw #e4c86d, 0 0 0.1vw #e4c86d, 3px 3px 3px #806914;
    color: var(--color-yellow);
  }
  50% {
    text-shadow: 0 0 0.25vw #bd9f3f, 0 0 0.25vw #bd9f3f, 0 0 0.25vw #bd9f3f,
      0 0 0.25vw #bd9f3f, 0 0 0.05vw #bd9f3f, 3px 3px 3px #40340a;
    color: #d8c070;
  }
}
.contact__links i {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in-out;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__moon {
  width: 30px;
  margin-left: 10px;
}

/* Up Button */
.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
  color: var(--color-light-grey);
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
.arrow-up:hover {
  color: var(--color-yellow);
  text-shadow: 0 0 0.4vw #e4c86d, 0 0 0.5vw #e4c86d, 0 0 0.5vw #e4c86d,
    0 0 1.5vw #e4c86d, 0 0 0.1vw #e4c86d, 3px 3px 3px #806914;
}

/* For below 768px screen width */
@media screen and (max-width: 1625px) {
  .about__description {
    left: 0;
    top: 50%;
    z-index: 1;
    margin: auto;
  }
  .about__avatar {
    width: 100%;
    height: 100%;
    background-position: center 100%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__logo img {
    width: 16px;
  }
  .navbar__toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all var(--animation-duration) ease-in-out;
  }
  .navbar__toggle-btn.open span:first-child {
    transform: rotate(-45deg) translateY(11px);
  }
  .navbar__toggle-btn.open span:nth-child(2) {
    opacity: 0;
  }
  .navbar__toggle-btn.open span:last-child {
    transform: rotate(45deg) translateY(-11px);
  }
  #navbar {
    flex-direction: column;
    padding: 15px 0;
    background-color: var(--color-main);
  }
  #navbar.navbar--bg {
    padding: 16px 0;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar__menu.open {
    display: block;
  }
  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .major {
    margin-bottom: 40px;
  }
  .skillset {
    flex-direction: column;
  }
  .works__categories {
    margin: 10px;
  }
  .category__btn {
    margin-bottom: 5px;
  }
  .project {
    flex-grow: 1;
  }
  .testimonials {
    flex-direction: column;
  }
  .testimonial {
    max-width: none;
  }
  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }
  .arrow-up {
    font-size: 35px;
    right: 10px;
    bottom: 40px;
  }
}
